<a href="https://colab.research.google.com/github/Nirupama03/COMPUTATIONAL-STATISTICS/blob/main/LAB_CYCLE_II_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)WRITE A PYTHON PROGRAM TO ADD,SUBTRACT, MULTIPLY AND DIVIDE

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])

ds2=pd.Series([1,3,5,7,9])

ds= ds1+ds2
print("Add two Series:")
print(ds)

print("Subtract two Series:")
ds=ds1-ds2
print(ds)
print("Multiply two Series:")
ds=ds1*ds2
print(ds)
print("Divide Series1 by Series2:")
ds=ds1/ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Q2) Write a Pandas program to create a dataframe of Student Details.

In [ ]:
# import module
import pandas as pd
# creating DataFrame for Student Details
details = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105, 106,
           107, 108, 109, 110],
    'NAME': ['Jagroop', 'Praveen', 'Harjot',
             'Pooja', 'Rahul', 'Nikita',
             'Saurabh', 'Ayush', 'Dolly', "Mohit"],
    'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE',
               'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})
# printing details
print(details)

    ID     NAME BRANCH
0  101  Jagroop    CSE
1  102  Praveen    CSE
2  103   Harjot    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Nikita    CSE
6  107  Saurabh    CSE
7  108    Ayush    CSE
8  109    Dolly    CSE
9  110    Mohit    CSE

Q3) Create a DataFrame of Student Details containing ID, Name and Branch. Merge the DataFrame with another DataFrame(Fee Details) using common ID.

In [ ]:
# Import module
import pandas as pd
# Creating Dataframe
details = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105,
           106, 107, 108, 109, 110],
    'NAME': ['Jagroop', 'Praveen', 'Harjot',
             'Pooja', 'Rahul', 'Nikita',
             'Saurabh', 'Ayush', 'Dolly', "Mohit"],
    'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE',
               'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})
# Creating Dataframe
fees_status = pd.DataFrame(
    {'ID': [101, 102, 103, 104, 105,
            106, 107, 108, 109, 110],
     'PENDING': ['5000', '250', 'NIL',
                 '9000', '15000', 'NIL',
                 '4500', '1800', '250', 'NIL']})
# Merging Dataframe
print(pd.merge(details, fees_status, on='ID'))

    ID     NAME BRANCH PENDING
0  101  Jagroop    CSE    5000
1  102  Praveen    CSE     250
2  103   Harjot    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Nikita    CSE     NIL
6  107  Saurabh    CSE    4500
7  108    Ayush    CSE    1800
8  109    Dolly    CSE     250
9  110    Mohit    CSE     NIL

Q4)Write a Pandas program to create a car DataFrame with fields Brand, Year, No of Sold. Use Groupby operation to Group the data when year = 2010. Also perform reshaping the DataFrame with stack and unstack operation.

In [ ]:
# Import module
import pandas as pd
# Creating Data
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]}
# Creating Dataframe of car_selling_data
df = pd.DataFrame(car_selling_data)
# printing Dataframe
#print(df)
# Group the data when year = 2010
print('Group the data when year = 2010')
grouped = df.groupby('Year')
print(grouped.get_group(2010))
df_stacked = df.stack()
print(df_stacked.head(10))
d=df_stacked.unstack()
print(d);

Group the data when year = 2010
       Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4
0  Brand    Maruti
   Year       2010
   Sold          6
1  Brand    Maruti
   Year       2011
   Sold          7
2  Brand    Maruti
   Year       2009
   Sold          9
3  Brand    Maruti
dtype: object
       Brand  Year Sold
0     Maruti  2010    6
1     Maruti  2011    7
2     Maruti  2009    9
3     Maruti  2013    8
4    Hyundai  2010    3
5    Hyundai  2011    5
6     Toyota  2011    2
7   Mahindra  2010    8
8   Mahindra  2013    7
9       Ford  2010    2
10    Toyota  2010    4
11      Ford  2011    2

Q5)Write a Pandas program to create a given DataFrame and set index to it. Use transform() to function to add 10 to each element in the dataframe.

In [ ]:
# importing pandas as pd
import pandas as pd
# Creating the DataFrame
df = pd.DataFrame({"A":[12, 4, 5, None, 1],
                   "B":[7, 2, 54, 3, None],
                   "C":[20, 16, 11, 3, 8],
                   "D":[14, 3, None, 2, 6]})
# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
# Set the index
df.index = index_
# Print the DataFrame
print(df)
#add 10 to each element of the dataframe
result = df.transform(func = lambda x : x + 10)
# Print the result
print(result)

          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0
          A     B   C     D
Row_1  22.0  17.0  30  24.0
Row_2  14.0  12.0  26  13.0
Row_3  15.0  64.0  21   NaN
Row_4   NaN  13.0  13  12.0
Row_5  11.0   NaN  18  16.0

Q6) STRING MANIPULATION

In [ ]:
import pandas as pd
data = [[1, "ABC KUMAR", "xYZ"], [2, "BCD", "XXY"],
        [3, "CDE KUMAR", "ZXX"], [3, "DEF", "xYZZ"]]
cfile = pd.DataFrame(data, columns = ["SN", "FirstName", "LastName"])
cfile
# find firstname starting with 'D'
result = cfile.FirstName.str.startswith('D')
print(result)
# find lasttname containing 'XX'
result = cfile.LastName.str.contains('XX')
print(result)
# split FirstName on the basis of ' '
result = cfile.FirstName.str.split()
print(result)
# find length of lasttname
result = cfile.LastName.str.len()
print(result)
# Capitalize the first Letter of LastName
result = cfile.LastName.str.capitalize()
print(result)
# Capitalize all Letter of LastName
result = cfile.LastName.str.upper()
print(result)
# Convert all Letter of LastName to lowercase
result = cfile.LastName.str.lower()
print(result)

0    False
1    False
2    False
3     True
Name: FirstName, dtype: bool
0    False
1     True
2     True
3    False
Name: LastName, dtype: bool
0    [ABC, KUMAR]
1           [BCD]
2    [CDE, KUMAR]
3           [DEF]
Name: FirstName, dtype: object
0    3
1    3
2    3
3    4
Name: LastName, dtype: int64
0     Xyz
1     Xxy
2     Zxx
3    Xyzz
Name: LastName, dtype: object
0     XYZ
1     XXY
2     ZXX
3    XYZZ
Name: LastName, dtype: object
0     xyz
1     xxy
2     zxx
3    xyzz
Name: LastName, dtype: object